

html {
    font-size: 20px;
    background-image: url("https://i.imgur.com/64u9uhA.png");
    background-repeat: repeat;
    background-size: auto;
    background-color: #EBECF0;
    align: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  body {
    text-align: center;
    font-family: Helvetica, Arial;
    line-height: 1.5;
    color: #263238;
    background-color: white;
    width: 50%;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    margin: auto;
    box-shadow: 0 10px 50px 10px rgba(0,0,0,0.40);
    
  }
  
  h1 {
    color: #242526;
    font-size: 4rem;
    margin-top: 0;
    line-height: 2;
    margin-bottom: 0;
    background-color: white;
  }
  
  h3 {
    margin-top: 0;
  }
  
  .info {
    text-align: left;
    font-size: 0.75rem;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
  }
  
  <style>
  
  